<div class="main" >
  <div class="main mealbutton" *ngFor="let meal of meals">
    <tr>
      <td > {{meal.id + ' ' + meal.name + ' ' + meal.retailPrice.toFixed(2) + ' €' }}</td>
      <td class="main mealbutton" (click)="deleteMeal(meal)"> X </td>
    </tr>
  </div>


  <div class="main mealbutton">
    <label>Name:
      <input type="text" #mealname placeholder="Meal">
      <input type="text" #price placeholder="Price">
      <input type="submit" (click)="addMeal(mealname.value, price.value)" value="Add">
    </label>
  </div>

  <app-prices></app-prices>

</div>

