<nav class="navbar is-success">
  <a class="navbar-item" routerLink="">Cash Register</a>
  <a class="navbar-item" routerLink="edit-meals">Edit Meals</a>
  <a class="navbar-item" routerLink="ingredients">Ingredients & Stock</a>
  <a class="navbar-item" routerLink="finance">Finances</a>
  <a class="navbar-item" routerLink="register">Register</a>
  <a class="navbar-item" routerLink="login">Login</a>
</nav>
<router-outlet></router-outlet>


<!--<form *ngIf="sessionUser === null" (ngSubmit)="login()">-->
<!--  <label>Username: <input name="username" [(ngModel)]="loginData.username"></label><br>-->
<!--  <label>Password: <input type="password" name="password" [(ngModel)]="loginData.password"></label><br>-->
<!--  <button type="submit">Los</button>-->
<!--</form>-->

<!--<button *ngIf="sessionUser !== null" (click)="logout()">Logout</button>-->
