
body {
  background-image: linear-gradient(45deg, lightgreen, white);
  background-attachment: fixed;
  height: 100vh;
}

.main {
  border-radius: 15px;
  border: 2px solid black;
  padding: 15px;
  margin: 4px;
  font-size: 2rem;
  display: inline-block;
}

.mealbutton:hover {
  color:green;
  cursor: pointer;
  text-decoration: underline;
  text-shadow: 2px 2px 2px lightgreen;
}
