<div class="main" >

<!--  <div class="main mealbutton" *ngFor="let meal of meals">-->
<!--    <tr>-->
<!--      <td > {{meal.id + ' ' + meal.name + ' ' + meal.retailPrice.toFixed(2) + ' €' }}</td>-->
<!--      <button class="main mealbutton" (click)="deleteMeal(meal)"> X </button>-->
<!--    </tr>-->
<!--  </div>-->

  <div class="section">
    <h2 class="title">Meal Prices</h2>
    <table class="table">
      <tr>
        <th>Meal</th>
        <th>Actual Price</th>
        <th>New Price</th>
      </tr>
      <tr *ngFor="let meal of meals">
        <td>{{meal.name}}</td>
        <td class="alignMid">{{meal.retailPrice.toFixed(2) + ' €'}}</td>
        <td><input type="text" placeholder="0" #price size="10"></td>
        <td><button (click)="changePrice(meal, price.value)">Change</button></td>
        <td><button class="main mealbutton" (click)="deleteMeal(meal)">Delete</button></td>
      </tr>
    </table>
  </div>

  <div class="section">
    <h2 class="title">Add new Meal</h2>

    <table class="table">
      <tr>
        <td><input type="text" #mealname placeholder="Meal"></td>
        <td><input type="text" #price placeholder="Price">
      </tr>
      <tr>
        <th>Ingredient</th>
        <th>Amount</th>
      </tr>
      <tr *ngFor="let recipe of recipes">
        <td>{{recipe.ingredient.name}}</td>
        <td>{{recipe.amount}}</td>
      </tr>
      <tr>
        <td>  <select name="dish" [(ngModel)]="ingredient">
          <option [ngValue]="null" disabled selected>Select ingredient...</option>
          <option *ngFor="let ingredient of ingredients" [ngValue]="ingredient">
            {{ ingredient.name }}
          </option>
        </select>
        </td>
        <td><input type="number" #amount placeholder="0"></td>
        <td>g</td>
        <td><input type="submit" (click)="addIngredient(ingredient, amount.value)" value="Add ingredient"></td>
      </tr>
    </table>
    <table class="table">

    </table>
  </div>
  <input type="submit" (click)="addMeal(mealname.value, price.value)" value="Add">

</div>

