
<section class="section">
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child box">

          <div class="section">
            <button *ngIf="!daily" class="button" (click)="changeView()">Daily</button>
            <button *ngIf="daily" class="button" (click)="changeView()">Total</button>
          </div>

          <h2 class="title" *ngIf="daily">Daily</h2>
          <h2 class="title" *ngIf="!daily">Total</h2>
          <table class="table">
            <thead>
            <tr>
              <th>Process Nr.</th>
              <th>Order Date</th>
              <th>Order Time</th>
              <th>Order Nr.</th>
              <th>Meal Nr.</th>
              <th>Meal Name</th>
              <th>Quantity</th>
              <th>Unit Cost</th>
              <th>Total Process Cost</th>
              <th>Total Process Purchase Price</th>
              <th>Total Process Profit</th>
              <th>Total Order Cost</th>
            </tr>
            </thead>

            <tr *ngFor="let process of processes">
              <!-- das hier ist nicht fertig, ist nur Platzhalter, noch bei Gelegenheit aufräumen -->
              <td>{{process.id}}</td>
              <td>{{process.order.date}}</td>
              <td>{{process.order.time}}</td>
              <td>{{process.order.id}}</td>
              <td>{{process.meal.id}}</td>
              <td>{{process.meal.name}}</td>
              <td>{{process.quantity}}</td>
              <td>{{process.meal.retailPrice}}</td>
              <td>{{process.retailPrice}}</td>
              <td>{{process.order.retailPrice}}</td>
              <td>{{process.meal.purchasePrice * process.quantity}}</td>
              <td>{{process.meal.profit * process.quantity}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <table class="table">
        <tr>
          <th>Total Turnover</th>
          <th>{{processesTotalTurnover(processes)}}</th>
        </tr>
        <tr>
          <th>Total Purchase Price</th>
          <th>{{processesTotalPurchasePrice(processes)}}</th>
        </tr>
        <tr>
          <th>Total Profit</th>
          <th>{{processesTotalProfit(processes)}}</th>
        </tr>
      </table>
    </div>
  </div>
</div>

<!--<td><input type="text" placeholder="0" #stock size="10"></td>-->
<!--<td><button (click)="changeStockForIngredient(ingredient, stock.value)">Change</button></td>-->

