
#ordermain {
  border-radius: 15px;
  border: 2px solid black;
  padding: 15px;
  font-size: 2rem;
  display: inline-table;
  box-shadow: 2px 2px 2px black;
}

button:hover {
  cursor: pointer;
}

input:hover {
  background-color: lightgreen;
}
