<div class="roundBorder">
  <h2>Ingredient Purchase-Prices</h2>
  <table>
    <tr>
        <th>Ingredient</th>
        <th>Actual Price</th>
        <th>New Price</th>
        <th></th>
        <th>Stock gramm</th>
        <th>New Stock</th>
        <th></th>
    </tr>

    <tr *ngFor="let ingredient of ingredients">
        <td>{{ingredient.name}}</td>

        <td class="alignMid">{{ingredient.purchasePrice.toFixed(3) + ' €'}}</td>
        <td><input type="text" placeholder="0.00 € / gram" #price size="10"></td>
        <td><button (click)="changePriceForIngredient(ingredient, price.value)">Change</button></td>

        <td class="alignMid">{{ingredient.stock + ' g'}}</td>
        <td><input type="text" placeholder="0 g" #stock size="10"></td>
        <td><button (click)="changeStockForIngredient(ingredient, stock.value)">Change</button></td>
        <td><button (click)="deleteIngredient(ingredient)">Delete</button></td>
    </tr>
  </table>
</div>

<div class="roundBorder">
  <h2>Add new Ingredient</h2>
  <table>
    <tr>
      <td>Name:</td><td><input type="text" #ingredientname placeholder="Ingredient"></td>
    </tr>
    <tr>
      <td>Price:</td><td><input type="text" #price placeholder="0.00 € / gram"></td>
    </tr>
    <tr>
      <td>Stock:</td><td><input type="text" #stock placeholder="0 g"></td>
    </tr>
    <input type="submit" (click)="addIngredient(ingredientname.value, price.value, stock.value)" value="Add Ingredient">
  </table>
</div>

<!--<div class="main mealbutton">-->
<!--  <label>Name:-->
<!--    <input type="text" #ingredientname placeholder="Ingredient">-->
<!--    <input type="text" #price placeholder="Price">-->
<!--    <input type="text" #stock placeholder="Stock">-->
<!--    <input type="submit" (click)="addIngredient(ingredientname.value, price.value, stock.value)" value="Add">-->
<!--  </label>-->
<!--</div>-->

<router-outlet></router-outlet>
