
.roundBorder {
  border-radius: 15px;
  border: 2px solid black;
  padding: 15px;
  margin: 4px;
  display: inline-block;
  box-shadow: 2px 2px 2px black;
}

.alignMid {
  text-align: center;
}

td {
  width: auto;
}

button:hover {
  cursor: pointer;
}

input:hover {
  background-color: lightgreen;
}
