
<section class="section">
  <div class="container">
    <div class="box">
      <h1 class="title">Register a new User</h1>

<!--    </div>-->
<!--    <div class="columns is-centered" style="padding: 30px" >-->
<!--      <form class="column is-4-desktop is-6-touch has-text-centered" >-->
<!--        <input class="input is-info is-hovered" style="margin: 10px 0" type="text" name="Nutzername" placeholder="Nutzername" [(ngModel)]="loginData.username">-->
<!--        <br>-->
<!--        <input class="input is-info is-hovered" style="margin: 10px 0" type="password" name="Passwort" placeholder="Passwort" [(ngModel)]="loginData.password">-->
<!--        <br>-->
<!--        <button class="button is-info is-light" style="margin: 10px 0" type="submit">Login</button>-->
<!--      </form>-->
<!--    </div>-->
<!--      -->
      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" type="text" #username>
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" #password1>
        </div>
      </div>

      <div class="field">
        <label class="label">Repeat password</label>
        <div class="control">
          <input class="input" type="password" #password2>
        </div>
      </div>

      <div class="control">
      <button class="button" (click)="registerUserInDB(username.value, password1.value, password2.value)">Register</button>
      </div>

    </div>
  </div>
  <span class="tag is-success is-center is-size-6" *ngIf="registeredUser.username.length > 0 && registeredUserNumber == 1">{{registeredUser.username}}</span>
  <span class="tag is-danger is-center is-size-6" *ngIf="registeredUser.username.length > 0 && registeredUserNumber == 2">{{registeredUser.username + ' is already taken'}}</span>
</section>
