
<section class="section">
  <div class="container">
    <div class="box">
      <h1 class="title">Registrierung</h1>

      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" type="text" #username>
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="text" #password1>
        </div>
      </div>

      <div class="field">
        <label class="label">Repeat password</label>
        <div class="control">
          <input class="input" type="text" #password2>
        </div>
      </div>

      <div class="contol">
      <button class="button" (click)="register(username.value, password1.value, password2.value)">Register</button>
      </div>

    </div>
  </div>
</section>
