
<section class="section">
  <div class="container">
    <div class="box">
      <h1 class="title">Registrierung</h1>

      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" type="text" #username>
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" #password1>
        </div>
      </div>

      <div class="field">
        <label class="label">Repeat password</label>
        <div class="control">
          <input class="input" type="password" #password2>
        </div>
      </div>

      <div class="control">
      <button class="button" (click)="registerUserInDB(username.value, password1.value, password2.value)">Register</button>
      </div>

    </div>
  </div>
  <span class="tag is-success is-center is-size-6" *ngIf="registeredUser.username.length > 0 && registeredUserNumber == 1">{{registeredUser.username}}</span>
  <span class="tag is-danger is-center is-size-6" *ngIf="registeredUser.username.length > 0 && registeredUserNumber == 2">{{registeredUser.username + ' is already taken'}}</span>
</section>
